.product__item{
    border:1px solid #dfe4e4;
    text-align:center;
    padding:35px;
    cursor:pointer;

}
.product__img{
    margin-bottom:27px;
    transition:0.4s;
}
.product__img img{
    transition:0.3s;
}
.product__img:hover img{
    transform:scale(1.3);
}
.product__content h5 a{
    color:#212245;
    font-size:18px;
    
}
.product__content h5{
    margin-bottom:20px;
}
.product__price{
    font-weight:600;
    font-size:1.2rem;
    color:#df2020;
}
.addTOcart__btn{
    border:none;
    padding:7px 25px;
    background:#df2020;
    color:#fff;
    border-radius:5px;
    font-size:0.9rem;
}
@media only screen and (max-width:992px){
    .product__content h5 a{
        font-size: 0.8rem;
    }
    .product__item{
        padding:20px;
    }
    .addTOcart__btn{
        padding:5px 15px;
        font-size:0.7rem;
    }
        .product__img:hover img {
            transform: scale(1.2);
        }
}
@media only screen and (max-width:1300px){
    .product__item {
            padding: 20px;
        }
    
}